@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Rubik+Mono+One&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url(background_web.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    background-color: white;
    align-items: center;
}

.header a {
    text-decoration: none;
    color: teal;
}

.logo a {
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
}

.navbar a {
    padding-left: 20px;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}

.navbar a:hover {
    color: crimson;
}

.icon{
    display: flex;
}

.search-box {
    outline: teal solid 2px;
    border-radius: 20px;
    height: 32px;
    padding: 3px;
    display: flex;
    align-items: center;
}

.search-box:hover .search-txt {
    width: 200px;
    padding: 0 1px;
}

.search-btn {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0 4px;
}

.search-btn i {
    color: teal;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    color: teal;
    transition: 0.4s;
    width: 0px;
}

.shop-box{
    outline: teal solid 2px;
    border-radius: 20px;
    height: 32px;
    padding: 0 3px;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.shop-box:hover .shop-txt {
    width: 200px;
    padding: 0 1px;
}

.shop-btn {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0 4px;
}

.shop-btn i {
    color: teal;
    margin-right: 2px;
}

.shop-txt {
    border: none;
    background: none;
    outline: none;
    color: teal;
    transition: 0.4s;
    width: 0px;
}

.middle{
    display: flex;
    justify-content: space-between;
}

.middleleft{
    margin-top: 250px;
    margin-left: 80px;
    padding: 30px;
    max-width: 1000px;
}

.middleleft h1{
    line-height: 1.2;
    font-size: 70px;
    color: crimson;
}

.middleleft h3{
    font-size: 35px;
}

.middleleft p{
    margin: 15px 0 35px;
}

.image{
    margin-top: 50px;
    margin-right: 80px;
    max-width: 700px;
    width: 100%;
    transform: rotate(25deg);
}

.button{
    background-color: crimson;
    border: 2px solid crimson;
    padding: 10px 25px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .5s;
}

.button:hover{
    background: transparent;
    color: crimson;
}